/* //Common CSS Start// */
*{
    padding: 0px;
    margin: 0px;
    outline: 0px;
    box-sizing: border-box;
}
:root{
    --header_bg: #444444;
    --nav_bg: #fff;
    --serv_bg: #f1f1f1;
    --last_sec_bg: #353535;
    --footer_bg: #555555;
    --font_col1: #222222;
    --font_col2: #de4644;
    --font_col3: #fff;
    --font_fam1: 'Raleway', sans-serif;
    --font_fam2: 'Open Sans', sans-serif;
    --font_fam3: 'Dancing Script', cursive;
    --font_w1: 400;
    --font_w2: 500;
    --font_w3: 700;
    --banner_overlay: rgba(0,0,0,.6);
    --category_overlay: rgba(0,0,0,.8);
    --product_overlay: rgba(0,0,0,.7);
    --after_hover: #de4644;
    --trans_com: all .3s linear;
    --trans_opt: all .4s linear;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}    
body{
    font-family: 'Raleway', sans-serif;
}
.text_center{
    text-align: center;
}
/* //Common CSS End// */

/* //Header CSS Start// */
header{
    background: var(--header_bg);
}
header .header_item{
    width: 50%;
}
header .header_item li{
    border-right: 1px solid var(--nav_bg);
    padding: 13px 18px;
}
header .alpha{
    border: none;
    background: none;
}
header li,
header .alpha{
    font-family: var(--font_fam2);
    font-weight: var(--font_w1);
    color: var(--nav_bg);
    font-size: 13px;
    line-height: 24px;
}
header .alpha option{
    color: var(--font_col1);
}
header .header_items{
    width: 50%;
}
header .header_items ul{
    display: flex;
    justify-content: flex-end;
}
header .header_items li{
    border-right: 1px solid var(--nav_bg);
    padding: 13px 18px;
}
header .header_items a{
    font-family: var(--font_fam2);
    font-weight: var(--font_w1);
    color: var(--nav_bg);
    font-size: 13px;
    line-height: 24px;
}
header .header_item li:last-child,
header .header_items li:last-child{
    border-color: transparent;
}
/* //Header CSS End// */

/* //Nav CSS Start// */
nav{
    background: var(--nav_bg);
    padding: 28px 0;
}
nav .logo{
    width: 20%;
}
nav .logo img{
    display: inline-block;
}
nav .menu{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
}
nav .menu ul{
    height: 100%;
}
nav .menu ul li{
    margin: 5px 10px;
    position: relative;
}
nav .menu li a{
    color: var(--font_col1);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--font_w2);
}
nav .menu ul li a::before,
nav .menu ul li a::after{
    content: '';
    position: absolute;
    width: 25px;
    left: 0;
    bottom: 0px;
    border: none;
    border-bottom: 2px solid var(--font_col2);
    visibility: hidden;
    transition: var(--trans_com);
}
nav .menu ul li a::after{
    width: 11px;
    left: 0;
    bottom: -5px;
    border: none;
    border-bottom: 2px solid var(--font_col2);
    visibility: hidden;
    transition: var(--trans_opt);
}
nav .menu ul li a:hover{
    color: var(--after_hover);
    border: none;
    border-bottom: 2px solid var(--after_hover);
}
nav .search{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
nav .search_item{
    padding: 0px 18px;
}
nav .search_item button{
    border: none;
    background: none;
}
nav .search_item a{
    color: var(--font_col1);
    font-size: 15px;
    font-weight: var(--font_w2);
    transition: var(--trans_com);
}
nav .search_item a:hover{
    color: var(--after_hover);
}
nav .search_item span{
    color: var(--font_col2);
    font-weight: var(--font_w2);
}
/* //Nav CSS End// */

/* //Banner CSS Start// */
#banner{
    background: url(../img/Banner-image.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
 }
 #banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--banner_overlay);
    top:0;
    left: 0;
    z-index: -1;
 }
#banner .banner_content{
    width: 40%;
    transform: translateY(35%);
}
#banner .banner_content h1{
    padding-bottom: 20px;
    color: var(--font_col2);
    font-size: 70px;
    line-height: 24px;
    font-weight: var(--font_w3);
}
#banner .banner_content h2{
    padding: 15px 0px;
    color: var(--font_col3);
    font-size: 40px;
    line-height: 24px;
    font-weight: var(--font_w1);
    text-transform: uppercase;
}
#banner .banner_content p{
    width: 462px;
    padding: 30px 0px;
    color: var(--font_col3);
    font-size: 14px;
    line-height: 24px;
    font-family: var(--font_fam2);
}
#banner .banner_content .banner_item{
    padding: 30px 0px;
}
#banner .banner_content .banner_item a{
    color: var(--font_col3);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--font_w2);
    text-transform: uppercase;
    padding: 18px 22px;
    border: 2px solid var(--font_col3);
    border-radius: 5px;
    margin-right: 30px;
    transition: var(--trans_com);
}
#banner .banner_content .banner_item a:hover{
    border-color: var(--font_col2);
    background: var(--after_hover);
}
#banner .banner_content .banner_elms{
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
    transform: translateX(110%);
}
#banner .banner_content .banner_elms_item{
    margin: 0px 10px;
}
#banner .banner_content .banner_elms_item a{
    padding: 8px 15px;
    color: var(--font_col3);
    font-size: 24px;
    line-height: 24px;
    font-weight: var(--font_w3);
    border: 2px solid var(--font_col3);
    border-radius: 5px;
    transition: var(--trans_com);
}
#banner .banner_content .banner_elms_item a:hover{
    border-color: var(--after_hover);
    background: var(--after_hover);
}
/* //Banner CSS End// */

/* //Service CSS Start// */
#service{
    background: var(--serv_bg)
}
#service .serv_item{
    width: calc(100% / 3);
    padding: 13px 0px;
    border-right: 1px solid var(--font_col1);
}
#service .serv_item a,
#service .serv_item h4{
    display: inline-block;
    color: var(--font_col1);
    font-size: 24px;
    line-height: 24px;
    font-weight: var(--font_w1);
    transition: var(--trans_com);
}
#service .serv_item a:hover,
#service .serv_item h4:hover{
    color: var(--after_hover);
}
#service .serv_item p{
    width: 353px;
    padding-top: 11px;
    padding-left: 25px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-family: var(--font_fam2);
    font-weight: var(--font_w1);
}
#service .serv_item:last-child{
    border-color: transparent;
}
/* //Service CSS End// */

/* //Category CSS Start// */
#category{
    padding: 100px 0px;
}
#category .cat_item{
    width: calc(100% / 3);
    padding: 0px 20px;
    position: relative;
}
#category .cat_item img{
    width: 100%;
    display: block;
}
#category .cat_item p{
    background: var(--font_col3);
    color: var(--font_col2);
    position: absolute;
    left: -5px;
    top: 20px;
    width: 30%;
    transform: rotate(-45deg);
    overflow: hidden;
}
#category .cat_item .overlay{
    position: absolute;
    background-color: var(--category_overlay);
    width: calc(100% - 60px);
    height: 175px;
    top: 50%;
    transform: translateX(3%);
}
#category .cat_item .overlay h4,
#category .cat_item .overlay h5,
#category .cat_item .overlay a{
    color: var(--font_col3);
    font-size: 35px;
    line-height: 24px;
    font-weight: var(--font_w2);
    padding: 9px 0px;
}
#category .cat_item .overlay h5{
    font-size: 24px;
    padding-bottom: 20px;
}
#category .cat_item .overlay a{
    display: inline-block;
    font-size: 16px;
    border: 2px solid var(--font_col3);
    border-radius: 5px;
    padding: 20px 18px;
    transition: var(--trans_com);
}
#category .cat_item .overlay a:hover{
    border: 2px solid var(--after_hover);
    background-color: var(--after_hover);
}
/* //Category CSS End// */

/* //Production CSS Start// */
#product{
    padding: 60px 0;
}
#product h2{
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 24px;
    font-weight: var(--font_w2);
    position: relative;
}
#product h2::before,
#product h2::after{
    content: '';
    position: absolute;
    width: 172px;
    left: 35%;
    bottom: 0px;
    border: none;
    border-bottom: 2px solid var(--font_col2);
}
#product h2::after{
    width: 86px;
    left: 35%;
    bottom: -10px;
    border: none;
    border-bottom: 2px solid var(--font_col2);
}
#product ul{
    padding: 50px 0px;
}
#product ul li{
    padding: 0px 21px;
    border-right: 1px solid var(--font_col1);
}
#product ul li:last-child{
    border-color: transparent;
}
#product ul li a{
    color: var(--font_col1);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--font_w2);
    transition: var(--trans_com);
}
#product ul li a:hover{
    color: var(--after_hover);
}
#product .work_item{
    width: 25%;
    padding: 0px 15px;
}
#product .work_item .prd{
    position: relative;
    transition: var(--trans_com);
}
#product .work_item .prd,
#product .work_item .prd img{
    width: 100%;
    display: block;
}
#product .work_item .prd .overlay{
    position: absolute;
    background-color: var(--product_overlay);
    width: 100px;
    height: 100%;
    right: 0;
    top: 0;
    visibility: hidden;
}
#product .work_item .prd .overlay a{
    display: inline-block;
    margin: 15px 0;
    color: var(--font_col3);
    font-size: 26px;
    line-height: 24px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--font_col3);
    border-radius: 50%;
    transform: translateY(50%);
    transition: var(--trans_com);
}
#product .work_item .prd .overlay a i{
    transform: translateY(50%);
}
#product .work_item .prd .overlay a:hover{
    border: 1px solid var(--after_hover);
    background-color: var(--after_hover);
}
#product .work_item .prd:hover .overlay{
    visibility: visible;
    color: var(--after_hover);
}
#product .work_item .items{
    display: flex;
    justify-content: space-between;
}
#product .work_item .items h5,
#product .work_item .items p{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--font_w2);
}
#product .work_item .item{
    margin-top: 5px;
    text-align: left;
    color: var(--font_col2);
}
/* //Production CSS End// */

/* // New Product CSS Start// */
#new_product{
    background: var(--serv_bg);
    padding: 45px 0px;
    position: relative;
}
#new_product .new_prd_item{
    width: 55%;
}
#new_product .new_prd_item img{
    position: absolute;
    left: 40px;
    bottom: 45px;
}
#new_product .new_prd_content{
    width: 45%;
    line-height: 24px;
    font-weight: var(--font_w2);
    text-transform: uppercase;
}
#new_product .new_prd_content h4{
    font-size: 20px;
}
#new_product .new_prd_content h2{
    padding-top: 5px;
    font-size: 40px;
    color: var(--font_col2);
}
#new_product .new_prd_content p{
    font-size: 14px;
    font-family: var(--font_fam1);
    text-transform: none;
    padding: 15px 0px;
}
#new_product .new_prd_content h3{
    font-size: 20px;
    padding: 20px 0px;
    font-weight: var(--font_w1);
}
#new_product .new_prd_content .prd_timer span{
    display: inline-block;
    text-align: center;
    height: 80px;
    width: 80px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid var(--font_col1);
    margin-right: 20px;
}
/* // New Product CSS End// */

/* // Latest Production CSS Start// */
#ltst_product{
    padding: 60px 0;
}
#ltst_product h2{
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 24px;
    font-weight: var(--font_w2);
    position: relative;
}
#ltst_product h2::before,
#ltst_product h2::after{
    content: '';
    position: absolute;
    width: 172px;
    left: 37%;
    bottom: 0px;
    border: none;
    border-bottom: 2px solid var(--font_col2);
}
#ltst_product h2::after{
    width: 86px;
    left: 37%;
    bottom: -10px;
    border: none;
    border-bottom: 2px solid var(--font_col2);
}
#ltst_product .ltst_item{
    width: 25%;
    padding: 0px 15px;
    padding-top: 60px;
}
#ltst_product .ltst_item .ltst{
    position: relative;
    transition: var(--trans_com);
}
#ltst_product .ltst_item .ltst,
#ltst_product .ltst_item .ltst img{
    width: 100%;
    display: block;
}
#ltst_product .ltst_item .ltst .overlay{
    position: absolute;
    background-color: var(--product_overlay);
    width: 100px;
    height: 100%;
    right: 0;
    top: 0;
    visibility: hidden;
}
#ltst_product .ltst_item .ltst .overlay a{
    display: inline-block;
    margin: 15px 0;
    color: var(--font_col3);
    font-size: 26px;
    line-height: 24px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--font_col3);
    border-radius: 50%;
    transform: translateY(50%);
    transition: var(--trans_com);
}
#ltst_product .ltst_item .ltst .overlay a i{
    transform: translateY(50%);
}
#ltst_product .ltst_item .ltst .overlay a:hover{
    border: 1px solid var(--after_hover);
    background-color: var(--after_hover);
}
#ltst_product .ltst_item .ltst:hover .overlay{
    visibility: visible;
    color: var(--after_hover);
}
#ltst_product .ltst_item .items{
    display: flex;
    justify-content: space-between;
}
#ltst_product .ltst_item .items h5,
#ltst_product .ltst_item .items p{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--font_w2);
}
#ltst_product .ltst_item .item{
    margin-top: 5px;
    text-align: left;
    color: var(--font_col2);
}
#ltst_product .ltst_product_elms{
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
    transform: translateX(45%);
}
#ltst_product .ltst_product_elms .ltst_elms_item{
    margin: 0px 10px;
    text-align: none;
}
#ltst_product .ltst_product_elms .ltst_elms_item a{
    display: inline-block;
    padding: 8px 15px;
    color: var(--font_col1);
    font-size: 24px;
    line-height: 24px;
    font-weight: var(--font_w3);
    border: 1px solid var(--font_col1);
    transition: var(--trans_com);
}
#ltst_product .ltst_product_elms .ltst_elms_item a:hover{
    color: var(--font_col3);
    border-color: var(--after_hover);
    background: var(--after_hover);
}
/* // Latest Production CSS End// */

/* // Testimonials CSS Start // */
#testimonials{
    width: 100%;
}
#testimonials .test{
    padding: 50px 0px;
}
#testimonials .test h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 24px;
    font-weight: var(--font_w2);
    position: relative;
}
#testimonials h2::before,
#testimonials h2::after{
    content: '';
    position: absolute;
    width: 172px;
    left: 41%;
    bottom: 0px;
    border: none;
    border-bottom: 2px solid var(--font_col2);
}
#testimonials h2::after{
    width: 86px;
    left: 41%;
    bottom: -10px;
    border: none;
    border-bottom: 2px solid var(--font_col2);
}
#testimonials .test_content{
    background: url(../img/Test-banner-image.jpg);
    background-position: center;
    background-size: cover;
    padding: 58px 0px;
    position: relative;
    z-index: 2;
}
#testimonials .test_content::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: var(--banner_overlay);
   top:0;
   left: 0;
   z-index: -1;
}
#testimonials .test_item{
    width: 25%;
}
#testimonials .test_item img{
    transform: translateX(60%)
}
#testimonials .test_item p{
    width: 385px;
    font-size: 14px;
    line-height: 24px;
    font-family: var(--font_fam1);
    color: var(--font_col3);
}
#testimonials .test_item h4,
#testimonials .test_item h5,
#testimonials .test_item span{
    color: var(--font_col3);
    line-height: 24px;
}
#testimonials .test_item h4{
    font-size: 20px;
}
#testimonials .test_item h5{
    font-size: 16px;
}
#testimonials .test_item span{
    font-size: 24px;
    font-family: var(--font_fam3);
    padding: 5px 0px;
}
#testimonials .test_elms{
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
    transform: translateX(45%);
}
#testimonials .test_elms .test_elms_item{
    margin: 0px 10px;
    text-align: none;
}
#testimonials .test_elms .test_elms_item a{
    display: inline-block;
    padding: 8px 15px;
    color: var(--font_col3);
    font-size: 24px;
    line-height: 24px;
    font-weight: var(--font_w3);
    border: 1px solid var(--font_col3);
    transition: var(--trans_com);
}
#testimonials .test_elms .test_elms_item a:hover{
    color: var(--font_col3);
    border-color: var(--after_hover);
    background: var(--after_hover);
}
/* // Testimonials CSS End // */

/* // Footer CSS Start// */
footer{
    background: var(--footer_bg);
    padding: 22px 0px 18px 0px;
}
footer .row{
    justify-content: space-between;
}
footer .footer_item{
    font-size: 14px;
    line-height: 24px;
    color: var(--font_col3);
}
footer .footer_item span{
    color: var(--font_col2);
}
footer .footer_item img{
    display: block;
}
/* // Footer CSS End// */